@import "./variables";
@import "./functions";

html {
    box-sizing: border-box;
    height: 100%;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
}

body {
    // min-height: 100%;
    background: linen;
    margin: 0;
    font-size: 1.6rem;
    font-family: "Commissioner", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}



header {
    height: 500px;
    width: 100%;
    background: linear-gradient(rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0.05)),
        url("../images/image-hero-desktop.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;

    nav {
        // outline: solid red 2px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 2em 0 0 0;
        width: 78%;

        .nav-content--wrap {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            img {
                width: 175px;
            }

            ul {
                display: flex;
                text-decoration: none;
                list-style: none;
                padding: 0;
                margin: 0;

                a {
                    text-decoration: none;
                    color: white;
                }

                .link-margin {
                    margin: 0 1em;
                }
            }
        }
    }
}

.content--wrap {
    // outline: solid red 2px;
    width: 100%;
    max-width: 650px;
    position: relative;
    top: -100px;

    .call-to-action {
        position: relative;
        background: white;
        text-align: center;
        margin: 0;
        padding: 3em 2em;
        border-radius: 10px;
        // border: solid rgba(0, 0, 0, 0.233) 2px;
        box-shadow: $boxShadow;

        .mastercraft-logo {
            position: absolute;
            top: 0;
            transform: translate(-50%, -50%);
        }

        h1 {
            font-weight: 700;
            margin: 0 0 0.5em 0;
            padding: 1em 0 0 0;
        }
        p {
            color: color(neutral-darkGrey);
            font-size: 1.4rem;
        }

        .button-and-bookmark--wrap {
            display: flex;
            justify-content: space-between;
            padding: 2em 0 0 0;
            width: 95%;
            margin: auto;

            #call-to-action__btn {
                background: color(primary-dark);
                color: white;
                width: 100%;
                max-width: 175px;
                padding: 0.15em 1em;
                border: none;
                border-radius: 999px;
                font-weight: 400;
                font-size: 1.5rem;
                cursor: pointer;
            }

            .bookmarked {
                display: flex;
                background: color(neutral-darkGrey);
                align-items: center;
                justify-content: center;
                border-radius: 999px;
                width: 100%;
                max-width: max-content;
                justify-content: flex-start;
                cursor: pointer;

                .bookmark-btn {
                    width: 50px;
                }

                p {
                    color: white;
                    margin: auto;
                    padding: 0 1.5em;
                }
            }
        }
    }

    .status {
        @extend .call-to-action;
        text-align: start;
        margin-top: 2em;
        display: flex;
        flex-direction: column;

        .status-info--wrap {
            display: flex;

            hr {
                color: rgba(0, 0, 0, 0.164);
            }

            .status-info {
                width: 100%;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .status-info-content--wrap {
                    .info {
                        margin-top: 1em;
                    }
                }
            }
        }

        .progress-bar {
            background: color(neutral-darkGrey);
            height: 12px;
            width: 100%;
            margin-top: 2em;
            border-radius: 999px;
            display: flex;

            .meter {
                width: 70%;
                background: color(primary-light);
                height: 100%;
                border-radius: 999px;
            }
        }
    }


    .rewards-section {
        @extend .status;
       

        p {
            line-height:2;
            margin:2em 0;
        }

        .about {
            // outline:solid red 1px;

        }

        .rewards {
            
            padding:2em;
            border: solid rgba(161, 161, 161, 0.295) 2px;
            border-radius:10px;
            margin-top:1.5em;
            

            .rewards__content--wrap {
                // background:lightblue;
                display:flex;
                justify-content: space-between;
                

                .rewards__pledge-ammount {
                    color:color(primary-light);
                }

                .reward-btn {
                    background: color(primary-light);
                    color: white;
                    width: 100%;
                    max-width: 175px;
                    padding: 1em;
                    border: none;
                    border-radius: 999px;
                    font-weight: 400;
                    font-size: 1.5rem;
                    cursor: pointer;
                    
                }

                .number-left--wrap {
                    display:flex;
                    align-items: center;
                }
            }
        }
    }
}

