@import "./abstracts/variables";
@import "./abstracts/functions";
@import "./popupRewards";
@import "./header";
@import "./main-content";

html {
    box-sizing: border-box;
    height: 100%;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
}

body {
    // min-height: 100%;
    background: linen;
    margin: 0;
    font-size: 1.6rem;
    font-family: "Commissioner", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}








